@import "../../App.scss";

.navbar{
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 50px;
        z-index: 999;
        position: sticky;
        top: 0;
        background-color: themed("background");
        color: themed("text");
        
        .left{
            display: flex;
            align-items: center;
            flex: 1;
            gap: 20px;

            span{
                font-weight: bold;
                font-size: 25px;
                cursor: pointer;
                color: themed("logo");
            }
        }

        .search{
            display: flex;
            align-items: center;
            flex: 1;
            border: 1px solid themed("border");
            border-radius: 10px;
            padding: 5px;

            input{
                border: none;
                width: 90%;
                background-color: transparent;
                color: themed("text");
            }
        }

        .right{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex:1;
            gap: 20px;

            .user{
                display: flex;
                align-items: center;
                gap: 10px;

                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }

    }
}